/*========common section start====*/
body{
    font-family: 'open sens', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.section_info h2{
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    color: #02918c;
    margin-top: 60px;
}
.section_info p{
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}
/*========common section end=====*/

/*=======nav section start =====*/
#primary_nav{
    background-color: #02918c;
}
#primary_nav #menu ul li a{
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13.5px 25px;
    display: inline-block;
}
/*====== nav section end=====*/
/*=======banner section start =====*/
#banner{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./banner_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 726px;
    color: #ffffff;
}
 #banner h1{
    font-size: 62px;
   font-weight: 800;
    letter-spacing: 25px; 
    text-transform: uppercase;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
}
#banner p{
    font-size: 18px;
    font-weight: 800;
}
#banner img{
    margin: 35px 0;
}
#banner a{
    color: black;
    font-weight: 800;
    display: inline-block;
    background-color: #cfc91d;
    padding: 24px 98px;
    font-size: 15px;
    transition: .4s;
}

/*====== banner section end=====*/
/*=======about section start =====*/

#about .section_info p b{
    font-size: 23px;
}
#about .about_cards{
    margin-top: 50px;
}
#about .about_card{
    border-right: 1px solid #ccc;
    padding: 36px 0;
}
#about .about_card span{
    font-size: 30px;
    color: #02918c;
}
#about .about_card h4{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin: 28px 0;
}
#about .about_card p{
    color: #7e8287;
    font-size: 11px;
    line-height: 16.5px;
}
#about .about_card:last-child{
    border: none;
}
/*====== about section end=====*/
/*=======Services  section start =====*/
#Services{
    background-image: url(./services.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
#Services .service_card{
    width: 50%;
    text-align: left;
    padding: 36px 0;
}
#Services .service_card span{
    font-size: 30px;
    color: #02918c;
}
#Services .service_card h4{
    font-size: 16px;
    font-weight: 800;
    color: #7e8287;
    margin: 28px 0;
}
#Services .service_card p{
    color: #7e8287;
    font-size: 11px;
    line-height: 16.5px;
}
/*====== Services section end=====*/
/*=======my work  section start =====*/
#work{
    margin-top: 30px;
}
#work .section_info{
    margin-bottom: 60px;
}
#work .work_box{
    position: relative;
}
#work .work_box .overlay{
    position: absolute;
    background-color: rgba(40, 151, 146, 0.85);
    inset: 20px 28px;
    color: white;
    text-align: center;
    padding-top: 50px;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
}
#work .work_box h3{
    margin-bottom: 20px;
    font-size: 20px;
}
#work .work_box:hover .overlay{
    opacity: 1;
    transform: scale(1);
}
/*====== my work section end=====*/

/*=======contact section start =====*/
#contact .contact_form{
    background-color: #0b0b0b;
    margin-top: 50px;
}
#contact .contact_form input{
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid #8a8989;
    color: #ffffff;
    margin-top: 62px;
}
#contact .contact_form input:focus{
    outline: none;
    border-bottom-color: #02918c;
}
#contact .contact_form button{
    margin: 50px;
    color: black;
    font-weight: 800;
    background-color: #cfc91d;
    padding: 10px 54px;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
}
/*====== contact section end=====*/
/*=======footer section start =====*/
footer{
    background-color: #000000;
    padding: 25px;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    color: #66696e;
}
/*====== footer section end=====*/